Importing Libraries

In [24]:
import pandas as pd
import numpy as np
import requests 
from bs4 import BeautifulSoup
from time import sleep
from random import randint

Creating empty lists

In [25]:
Job_Name=[]
Job_Location=[]
Job_Link=[]

For Multiple Pages

In [26]:
pages = np.arange(1,51,3)

In [29]:
for page in pages:
  page = requests.get("https://careers.blackboard.com/search/jobs/in/country/india?page="+str(page)+"")
  soup = BeautifulSoup(page.text,'html.parser')
  EBook_data = soup.findAll('div', attrs = {'class': 'jobs-section__item page-section-small'})
  sleep(randint(2,8))
  for store in EBook_data:
    name = store.h5.a.text
    Job_Name.append(name)
    location = store.find('div',class_ ='large-4 columns').text.replace('\n','').replace(' ','').replace('Location:','')
    Job_Location.append(location)
    div_link=store.find("div",class_="large-8 columns")
    anchor_link=div_link.find("a")
    Job_Link.append(anchor_link.get("href"))



   # link = store.h5.a.get('herf')
   # Job_Link.append("https:///careers.blackboard.com" + str(link))

Creating a df

In [31]:
Book_List = pd.DataFrame({ "Job": Job_Name, "Job Location": Job_Location, "Job Link": Job_Link})

In [32]:
Book_List

,Job,Job Location,Job Link
0,Senior Applications Developer,"Chennai,India",https://careers.blackboard.com/jobs/9849390-se...
1,Senior Salesforce Administrator,India,https://careers.blackboard.com/jobs/9701622-se...
2,Software Engineer (.net),"Chennai,India",https://careers.blackboard.com/jobs/9623061-so...
3,System Operation Specialist l,"Chennai,India",https://careers.blackboard.com/jobs/9600028-sy...
4,System Operation Specialist l,"Chennai,India",https://careers.blackboard.com/jobs/9600027-sy...
5,Associate Software Engineer in Test,"Chennai,India",https://careers.blackboard.com/jobs/9599763-as...
6,Systems Operations Specialist,"Chennai,India",https://careers.blackboard.com/jobs/9599251-sy...
7,Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9599147-so...
8,Software Engineer in Test,"Chennai,India",https://careers.blackboard.com/jobs/9599028-so...
9,Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9598297-so...
10,Software Engineer - Test,"Chennai,India",https://careers.blackboard.com/jobs/9554039-so...
11,Software Engineer - Test,"Chennai,India",https://careers.blackboard.com/jobs/9554038-so...
12,Software Engineer - Test,"Chennai,India",https://careers.blackboard.com/jobs/9553896-so...
13,Senior Salesforce Administrator,"Chennai,India",https://careers.blackboard.com/jobs/9531601-se...
14,Database Administrator,"Chennai,India",https://careers.blackboard.com/jobs/9474697-da...
15,System Operation Specialist l,"Chennai,India",https://careers.blackboard.com/jobs/9319042-sy...
16,Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9297325-so...
17,Full Stack Senior Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9297324-fu...
18,System Operation Specialist l,"Chennai,India",https://careers.blackboard.com/jobs/9106478-sy...
19,Senior Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9098846-se...
20,Senior Software Engineer (Python),"Chennai,India",https://careers.blackboard.com/jobs/9097084-se...
21,Software Engineer in Test,"Chennai,India",https://careers.blackboard.com/jobs/9050238-so...
22,Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9040210-so...
23,Software Engineer,"Chennai,India",https://careers.blackboard.com/jobs/9040209-so...
24,Client Support Specialist,"Bangalore,India",https://careers.blackboard.com/jobs/8831466-cl...

Putting data into excel file

In [33]:
Book_List.to_excel("List Of Jobs From Blackboard in india.xlsx")